/* .swap { */
/*   position: absolute; */
/*   padding-top: 5%; */
/*   right: 95%; */
/*   bottom: 94.5%; */
/* } */

.profile {
  position: absolute;
  left: 93%;
  bottom: 94%;
}

main {
  padding-top: 5%;
  text-align: center;
}
