{% extends 'frontend/base.html' %}
{% load leaflet_tags %}
{% load static %}

{% block head %}
    <title>Idk Page</title>
    {% leaflet_js %}
    {% leaflet_css %}
    <!-- Get the geo data from python to javascript -->
    <script>
        const geo_data = JSON.parse("{{geo_data | escapejs}}")
    </script>
    <script src="{% static 'frontend/reserve.js' %}"></script>
    <link rel="stylesheet" href="{% static 'frontend/reserve.css' %}">
{% endblock %}

{% block body %}

    <main class="w-screen h-screen grid justify-items-center">
        <img class="w-full h-full absolute blur-sm"
             src={% static "frontend/assets/reserve-background.jpg" %}
        />
        <div class="grid place-items-center">
            <h1 class="text-3xl text-primary glass rounded-box p-4">Pick a Parking Lot</h1>
        </div>
        <div class="h-2/3 w-2/3 flex-grow card bg-base-300 rounded-box overflow-hidden border-4 border-accent">
            <div class="flex-grow">
                {% leaflet_map "reserve_leaflet" callback="window.map_init_basic" %}
            </div>
        </div>
    </main>
    {% include 'frontend/nav.html' %}
    <div class="divider divider-primary"></div>
    {% include 'frontend/footer.html' %}
{% endblock %}
