{% extends 'frontend/base.html' %}
{% load leaflet_tags %}
{% load static %}

{% block head %}
<title>Idk Page</title>
{% leaflet_js %}
{% leaflet_css %}
<!-- Get the geo data from python to javascript -->
<script>
  const geo_data = JSON.parse("{{geo_data | escapejs}}")
</script>
<script src="{% static 'frontend/reserve.js' %}"></script>   
<link rel="stylesheet" href="{% static 'frontend/reserve.css' %}">
{% endblock %}

{% block body %}
<div class="flex w-full">
  <div class="grid flex-grow card bg-base-300 rounded-box place-items-center">
    <a href={% url 'index' %} class="btn btn-outline btn-accent btn-sm m-2 absolute left-0 top-0">Go Home</a>
  </div>
  <div class="divider divider-horizontal"></div>
  <div class="h-screen flex-grow card bg-base-300 rounded-box w-2/3">
    {% leaflet_map "reserve_leaflet" callback="window.map_init_basic" %}
  </div>
</div>
{% endblock %}
