<div class="flex w-full">
    <div
            class="grid h-20 flex-grow card bg-base-300 rounded-box place-items-center"
    >
        <div
                class="radial-progress bg-primary text-primary-content border-4 border-primary"
                style="--value: {{ percentage }}"
                role="progressbar"
        >
            {{ available_space }} left
        </div>
    </div>
    <div class="divider divider-horizontal divider-secondary"></div>
    <div
            class="grid h-20 flex-grow card bg-base-300 rounded-box place-items-center"
    >
        <a href={% url 'lot' parkinglot.id %} class="btn btn-outline btn-accent btn-sm">Go to {{ parkinglot.name }}</a>
    </div>
</div>
