{% extends 'frontend/base.html' %}
{% block head %}
    <title> Messages </title>
{% endblock %}

{% block body %}
    {% include 'frontend/nav.html' %}
    <main class="grid w-screen h-screen place-items-center">
        <div class="flex place-content-center w-2/3 h-3/4 p-4 border-4 border-accent rounded-3xl">
            <div
                    class="card flex content-end h-full w-1/4 overflow-x-hidden overflow-y-auto border-none"
            >
                <div
                        class="card-title flex justify-center m-4 gap-2 border-neutral bg-base-100 underline"
                >
                    Inbox
                </div>
                {% for Sender in Senders %}
                    {% if Sender.sender != request.user %}
                        <a href="{% url 'msg_ctx' Sender.sender.id %}">
                            <div
                                    class="card-body h-auto w-full hover:bg-base-200 bg-base-100 border-2 border-neutral"
                            >
                                {{ Sender.sender }}
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="divider divider-horizontal divider-secondary"></div>
            <div
                    class="card flex content-end h-full w-3/4 skeleton overflow-y-auto rounded-none"
            ></div>
        </div>
    </main>
    {% include 'frontend/footer.html' %}
{% endblock %}

