{% extends 'frontend/base.html' %}
{% load static %}
{% block head %}
    <title>Password reset | UEA PMS</title>
    <link rel="stylesheet" href={% static 'frontend/home.css' %}>
{% endblock %}

{% block body %}

    {% include 'frontend/nav.html' %}
    <main>
        <div>
            <h1 class="text-center text-4xl font-semibold my-5">
                Reset your password
            </h1>
        </div>
        <div class="box1">
            <div class="input-bordered flex flex-col items-center mx-20 border-4 rounded-xl bg-base-300 text-base-content">
                <form action="{% url 'reset_password' %}" method="post" class="m-5">
                    {% csrf_token %}
                    <label class="input input-bordered flex items-center gap-2 m-2">
                        {{ form.as_p }}
                    </label>
                    <button class="btn btn-primary mt-5 items-center w-28" type="submit">Send</button>
                </form>
                <a href="{% url 'login' %}">
                    <button class="btn btn-primary items-center w-28 mb-5" type="submit">Back</button>
                </a>
            </div>
        </div>
    </main>
    <footer>
        {% include 'frontend/footer.html' %}
    </footer>
{% endblock %}