{% extends 'frontend/base.html' %}
{% load static %}
{% block head %}
    <title>Profile | UEA PMS</title>
    <link rel="stylesheet" href={% static 'frontend/home.css' %}>
{% endblock %}

{% block body %}

    {% include 'frontend/nav.html' %}
    <main>
        <div>
            <h1 class="text-center text-4xl font-semibold my-5">
                Successfully set the new password!
            </h1>
        </div>
        <div class="box1">
            <div class="input-bordered flex flex-col items-center mx-20 border-4 rounded-xl bg-base-300 text-base-content">
                <h2>Password is reset</h2>
                <h3>Please go back to the login page</h3>
                <a href="{% url 'login' %}">
                    <button class="btn btn-primary">Back to login</button>
                </a>
            </div>
        </div>
    </main>
    <footer>
        {% include 'frontend/footer.html' %}
    </footer>
{% endblock %}