{% extends 'frontend/base.html' %}


{% block head %}
<title>Quote - Parking System</title>
{% endblock %}

{% block body %}
{% if user.is_authenticated %}
    <h1>Parking Quote</h1>
    <p>Here is your parking quote:</p>
    <div>
        <strong>Assigned Slot:</strong> {{ assigned_slot }}
    </div>
    <div>
        <strong>Current Credit:</strong> £{{ current_credit }}
    </div>
    <div>
        <strong>Parking Charge:</strong> £{{ parking_charge }}
    </div>

    {% if current_credit < parking_charge %}
        <p>You need to top up your credit to proceed.</p>
        <a href="{% url 'topup' %}"><button>Top Up</button></a>
    {% else %}
        <form action="{% url 'submit_parking_request' %}" method="post">
            {% csrf_token %}
            <button type="submit">Confirm Parking</button>
        </form>
    {% endif %}
{% else %}
    <p>You need to be logged in to view this page.</p>
    <a href="{% url 'login' %}"><button>Login</button></a>
{% endif %}
{% endblock %}