{% extends 'frontend/base.html' %}

{% block head %}
    <title>Signup | UEA PMS</title>
{% endblock %}

{% block body %}
    <nav>
        {% include 'frontend/nav.html' %}
    </nav>
    <h1 class="text-center text-4xl font-semibold my-6">
        Sign Up
    </h1>
    <div class="input-bordered flex flex-col items-center mx-10 md:mx-20 my-5 border-4 rounded-xl bg-base-300">
        <form action={% url 'signup' %} method="POST" class="mb-4 mt-5">
            {% csrf_token %}
            <b>Enter a username</b>
            <label class="input input-bordered flex items-center gap-2 m-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                     class="w-4 h-4 opacity-70">
                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z"/>
                </svg>
                {{ form.username }}
            </label>
        {% if form.username.errors %}
            <div role="alert" class="alert alert-error">
                <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none"
                     viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"/>
                </svg>
                <span>This username is taken</span>
            </div>
            {% endif %}
            <b>Enter an email</b>
            <label class="input input-bordered flex items-center gap-2 m-2">
                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4 h-5">
                    <path d="M4 7.00005L10.2 11.65C11.2667 12.45 12.7333 12.45 13.8 11.65L20 7" stroke="currentColor"
                          stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    <rect x="3" y="5" width="18" height="14" rx="2" stroke="currentColor" stroke-width="2"
                          stroke-linecap="round"></rect>
                </svg>
                {{ form.email }}
                {% if form.email.errors %}
            <div role="alert" class="alert alert-error">
                <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none"
                     viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"/>
                </svg>
                <span>{{ form.email.errors }}</span>
            </div>
            {% endif %}
            </label>
            <b>Enter a password</b>
            <label class="input input-bordered flex items-center gap-2 m-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                     class="w-4 h-4 opacity-70">
                    <path fill-rule="evenodd"
                          d="M14 6a4 4 0 0 1-4.899 3.899l-1.955 1.955a.5.5 0 0 1-.353.146H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2.293a.5.5 0 0 1 .146-.353l3.955-3.955A4 4 0 1 1 14 6Zm-4-2a.75.75 0 0 0 0 1.5.5.5 0 0 1 .5.5.75.75 0 0 0 1.5 0 2 2 0 0 0-2-2Z"
                          clip-rule="evenodd"/>
                </svg>
                {{ form.password1 }}
                {{ form.password1.errors }}
            </label>
            <b>Enter the same password for a confirmation</b>
            <label class="input input-bordered flex items-center gap-2 m-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                     class="w-4 h-4 opacity-70">
                    <path fill-rule="evenodd"
                          d="M14 6a4 4 0 0 1-4.899 3.899l-1.955 1.955a.5.5 0 0 1-.353.146H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2.293a.5.5 0 0 1 .146-.353l3.955-3.955A4 4 0 1 1 14 6Zm-4-2a.75.75 0 0 0 0 1.5.5.5 0 0 1 .5.5.75.75 0 0 0 1.5 0 2 2 0 0 0-2-2Z"
                          clip-rule="evenodd"/>
                </svg>
                {{ form.password2 }}
            </label>
            {% if form.password2.errors %}
            <div role="alert" class="alert alert-error">
                <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none"
                     viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"/>
                </svg>
                <span>{{ form.password2.errors }}</span>
            </div>
            {% endif %}
            <button class="btn btn-primary mt-5 items-center container">Create Account</button>
        </form>
        <p class="mt-2 mb-4">Already have an account? <a href="{% url 'login' %}"
                                                         class="text decoration-solid underline">Sign in</a></p>
    </div>
    <footer>
        {% include 'frontend/footer.html' %}
    </footer>
{% endblock %}