{% extends 'frontend/base.html' %}

{% block head %}
<title>Top Up - UEA Parking System</title>
{% endblock %}

{% block body %}
{% if user.is_authenticated %}
    <h1>Top Up Your Account</h1>
    <p>Please top up your account to continue with the parking request.</p>

    <form action="{% url 'top_up' %}" method="post">
        {% csrf_token %}
        <div>
            <label for="cardholder_name">Cardholder's Name:</label>
            <input type="text" id="cardholder_name" name="cardholder_name" required>
        </div>
        <div>
            <label for="card_number">Card Number:</label>
            <input type="text" id="card_number" name="card_number" required>
        </div>
        <div>
            <label for="top_up_amount">Amount (£):</label>
            <input type="number" id="top_up_amount" name="amount" min="{{ min_topup }}" value="{{ min_topup }}" required>
        </div>
        <button type="submit" class="btn">Top up</button>
    </form>

    <a href="{% url 'quote_page' %}">Back to Quote</a>
{% else %}
    <p>You need to be logged in to top up your account.</p>
    <a href="{% url 'login' %}"><button class="btn">Login</button></a>
{% endif %}
{% endblock %}