{% extends 'frontend/base.html' %}

{% block head %}
<title>Top Up - UEA Parking System</title>
{% endblock %}

{% block body %}
{% if user.is_authenticated %}
    <h1>Top Up Your Account</h1>
    <p>Please enter the amount to top up your account:</p>
    <form action="{% url 'topup' %}" method="post">
        {% csrf_token %}
        <label for="amount">Amount (£):</label>
        <input type="number" id="amount" name="amount" min="{{ min_topup }}" required>
        <button type="submit">Top Up</button>
    </form>
{% else %}
    <p>You need to be logged in to top up your account.</p>
    <a href="{% url 'login' %}"><button>Login</button></a>
{% endif %}
{% endblock %}
