{% extends 'frontend/base.html' %}
{% load tz_detect %}
{% load static %}
{% block head %}
    <title>Request | Admin | UEA PMS</title>
    <link rel="stylesheet" href={% static 'frontend/home.css' %}>
{% endblock %}

{% block body %}
    {% include 'frontend/nav.html' %}
    <main>
        <div>
            <h1 class="text-center text-4xl font-semibold my-6">
                Requests - Admin
            </h1>
        </div>
        <div class="input-bordered flex flex-col items-center mx-10 md:mx-20 my-5 border-4 rounded-xl bg-base-300">
            <div class="m-5">
                <input type="text" placeholder="Search" class="input input-bordered w-24 md:w-auto"/>
            </div>
            <div class="overflow-x-auto">
                <table class="table table-zebra">
                    <!-- head -->
                    <thead class="text-lg">
                    <tr>
                        <th>Request ID</th>
                        <th>Assigned Space</th>
                        <th>Driver username</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- row 1 -->
                    <tr>
                        <td>
                            <div class="flex items-center gap-3">
                                <div>
                                    <div class="font-bold"> #AB01</div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="flex items-center gap-3">
                                <div>
                                    <div class="font-bold"> #01</div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="flex items-center gap-3">
                                <div>
                                    <div class="font-bold"> user1</div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="flex items-center gap-3">
                                <div>
                                    <button class="btn btn-success w-32">Approve</button>
                                </div>
                            </div>
                        </td>
                        <td>
                            <a>
                                <button class="btn btn-error w-32">Reject</button>
                            </a>
                        </td>
                    </tr>
                    <!-- row 2 -->
                    <tr>
                        <td>
                            <div class="flex items-center gap-3">
                                <div>
                                    <div class="font-bold"> #AB02</div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="flex items-center gap-3">
                                <div>
                                    <div class="font-bold"> #02</div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="flex items-center gap-3">
                                <div>
                                    <div class="font-bold"> user2</div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="flex items-center gap-3">
                                <div>
                                    <button class="btn btn-success w-32">Approve</button>
                                </div>
                            </div>
                        </td>
                        <td>
                            <a>
                                <button class="btn btn-error w-32">Reject</button>
                            </a>
                        </td>
                    </tr>
                    <!-- row 3 -->
                    <tr>
                        <td>
                            <div class="flex items-center gap-3">
                                <div>
                                    <div class="font-bold"> #AB03</div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="flex items-center gap-3">
                                <div>
                                    <div class="font-bold"> #03</div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="flex items-center gap-3">
                                <div>
                                    <div class="font-bold"> user3</div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="flex items-center gap-3">
                                <div>
                                    <button class="btn btn-success w-32">Approve</button>
                                </div>
                            </div>
                        </td>
                        <td>
                            <a>
                                <button class="btn btn-error w-32">Reject</button>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <footer>
        {% include 'frontend/footer.html' %}
    </footer>
{% endblock %}